app/vendor/
app/node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
app/bootstrap/compiled.php
app/app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
app/public_html/storage
app/public_html/hot

app/storage/*.key
app/.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache


# DB
db/dbdata/